/* Header
----------------------------------*/

.header {
	width: 100%;
  background: transparent;
  padding: 1em 0;
  position: fixed;
  z-index: 100;
  transition: 0.8s cubic-bezier(0.2,0.8,0.2,1);
}

.header__group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__title {
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1em;
}

.header__menu a {
	color: #fff;
	font-size: 1.25rem;
	padding: 0 1.5em;
}

.header__menu a:hover {
	color: #36558F;
}

.header__menu .header__button {
	background: #36558F;
	color: #fff;
	cursor: pointer;
	line-height: 1;
	padding: 0.45em 1.25em;
	border-radius: 4px;
}

.header__menu .header__button:hover {
	color: #fff;
	transform: translateY(-3px);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}


/* Header - Scrolled
----------------------------------*/

.header.has-scrolled {
	background: #fff;
	padding: 0.75em 0;
	border-bottom: 1px solid #eee;
}

.header.has-scrolled .header__title, 
.header.has-scrolled .header__menu a {
	color: #212121;
	font-size: 1rem;
}

.header.has-scrolled .header__menu .header__button {
	color: #fff;
}

/* Media queries
----------------------------------*/

@media screen and (min-width: 768px) {
	
	.header__group {
		margin: 0 auto;
		max-width: 1200px;
	}
}