@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #212121;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

a {
  color: #36558F;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* Hero
----------------------------------*/

.hero {
  background-image: url('https://images.unsplash.com/photo-1461988625982-7e46a099bf4f');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  height: 80vh;
}

.hero__group {
  color: #fff;
  margin: 0 auto;
  padding: 6em 0 0;
  max-width: 34em;
  opacity: 0;
  animation: heroAnimation 2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.hero h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0 0 0.25em;
  line-height: 1.1;
}


.hero a {
  color: #fff;
  display: inline-block;
  font-weight: 600;
  margin-top: 1em;
  padding: 1em 1.15em;
  border: 2px solid #fff;
  border-radius: 4px;
}

.hero a:hover {
  background: #fff;
  color: #212121;
}


/* Animation
----------------------------------*/
@keyframes heroAnimation {
  0% {
    opacity: 0;  
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}




